<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cargar Producto</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <h1>Cargar Producto</h1>

    <!-- Formulario para agregar o editar productos -->
    <form th:action="@{/guardar}" th:object="${persona}" method="post">
        <input type="hidden" th:field="*{id}" />
        
        <label for="nombre">Nombre:</label>
        <input type="text" th:field="*{nombre}" required /><br>

        <label for="telefono">Teléfono:</label>
        <input type="text" th:field="*{telefono}" required /><br>

        <label for="correoElectronico">Correo Electrónico:</label>
        <input type="email" th:field="*{correoElectronico}" required /><br>

        <label for="comuna">Comuna:</label>
        <input type="text" th:field="*{comuna}" required /><br>

        <label for="direccion">Dirección:</label>
        <input type="text" th:field="*{direccion}" required /><br>

        <button type="submit">Guardar</button>
    </form>

    <a th:href="@{/ver-productos}">Volver a la lista de productos</a> <!-- Botón para regresar a la lista de productos -->
</body>
</html>

