<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página con Botones</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>

    <header>
        <a th:href="@{/}">
            <img src="/images/logo.jpeg" alt="Logo">
        </a>
    </header>

<div class="container">
    <h1>Botones de Acción</h1>
    <button onclick="alert('Acción 1')">Botón 1</button>
    <button onclick="alert('Acción 2')">Botón 2</button>
    <button onclick="alert('Acción 3')">Botón 3</button>
    <button onclick="alert('Acción 4')">Botón 4</button>
</div>

</body>
</html>
