<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Productos Publicados</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

    <header>
        <a th:href="@{/}">
            <img src="/images/logo.jpeg" alt="Logo">
        </a>
    </header>

    <h1>Productos Publicados</h1>
    <h2>Lista de Productos</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre del Artículo</th>
                <th>Tipo</th>
                <th>Estado</th>
                <th>Vendedor</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="producto : ${productos}">
                <td th:text="${producto.nombre}"></td>
                <td th:text="${producto.tipo}"></td>
                <td th:text="${producto.estado}"></td>
                <td th:text="${producto.vendedor}"></td>
                <td th:text="${producto.precio}"></td>
                <td>
                    <a th:href="@{/editar/{id}(id=${producto.id})}">Editar</a>
                    <a th:href="@{/delete/{id}(id=${producto.id})}" 
                       onclick="return confirm('¿Estás seguro de eliminar este producto?');">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>

    <button><a th:href="@{/cargar-producto}">Cargar un nuevo producto</a></button>
</body>
</html>
